body {
    postion: absolute;
    font-family: Times;
    padding-left: 20px;
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
h1 {
    //color: blue;
    //padding-left: 25px;
    font-size: 280%;
    font-style: oblique;
    cursor: help;
}
#titlesDivId {
    margin-bottom: 1000px;
}
#solDivId {
    margin-bottom: 1000px;
}
#hexDivId {
    margin-bottom: 1000px;
}
#matchsticksDivId {
    margin-bottom: 1000px;
}
#dailyDivId {
    margin-bottom: 1000px;
}
#meDivId {
    margin-bottom: 1000px;
}
#twitterDivId {
    color: blue;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.poemTitle {
    text-decoration: underline;
    font-size: 110%;
    margin-bottom: 0px;
}
.poem {
    margin-bottom: 40px;
    padding-left: 40px;
}
.topHeader {
    padding-left: 0px;
    font-size: 80%;
}
input {
    background-color: white;
}
